<div class="container">
	<mat-toolbar style="background-color: lightblue;">New User</mat-toolbar>
	<form #regForm="ngForm" class="row">
		<mat-form-field  class="col-md-6">
			<input
				required
				(click)="onkeyup()" 
				matInput 
				placeholder="First Name" 
				[(ngModel)]="new_user.first_name" 
				name="first_name">
		</mat-form-field>
		<mat-form-field  class="col-md-6">
			<input
				required
				(click)="onkeyup()" 
				matInput 
				placeholder="Last Name" 
				[(ngModel)]="new_user.last_name" 
				name="last_name">
		</mat-form-field>
		<div [formGroup]='userForm' class="col-md-6">
			<mat-form-field style="width: 92%;">
				<input
					required
					(click)="onkeyup()" 
					matInput 
					formControlName='username'
			    #searchBoxUsername
		  	  (keyup)="(searchBoxUsername.value)"
					placeholder="Username" 
					name="username">
			</mat-form-field>
			<mat-icon *ngIf="username_exist" style="color: red;">highlight_off</mat-icon>
			<mat-icon *ngIf="username_not_exist" style="color: green;">check_circle</mat-icon>
		</div>
		<mat-form-field  class="col-md-6">
				<!-- required -->
			<input
				(click)="onkeyup()" 
				matInput 
				placeholder="SAP Number" 
				[(ngModel)]="new_user.sap" 
				name="sap">
		</mat-form-field>
		<mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	(click)="onkeyup()" 
		  	placeholder="User Type" 
		  	[(ngModel)]="new_user.user_type" 
		  	name="user_type" 
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let type of userType" [value]="type.value">
		      {{ type.viewValue }}
		    </mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	placeholder="Country" 
		  	[(ngModel)]="new_user.country" 
		  	name="country"
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let item of countries" (click)="fetchCountryProjects()" [value]="item.id">{{item.name}}</mat-option>	  
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	(click)="onkeyup()" 
		  	placeholder="Project" 
		  	[(ngModel)]="new_user.project" 
		  	name="project" 
		  	style="font-size: 0.8em;">
		    <mat-option (click)="openNewProjectDialog();" style="background-color: lightblue;">Create New Project</mat-option>
		    <mat-option *ngFor="let proj of projects" [value]="proj.id" (click)="fetchProjectUsers(proj.id);">{{ proj.name }}</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6" *ngIf="tc_list.length != 0 && (new_user.user_type == '1' || new_user.user_type == '2' || new_user.user_type == '3')">
		  <mat-select 
		  	required
		  	placeholder="Team Coordinator" 
		  	[(ngModel)]="new_user.tc" 
		  	name="tc" 
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let tc of tc_list" [value]="tc.id">{{ tc.user_names }}</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6" *ngIf="gc_list.length != 0 && (new_user.user_type == '1' || new_user.user_type == '2')">
		  <mat-select 
		  	required
		  	placeholder="Group Coordinator" 
		  	[(ngModel)]="new_user.gc" 
		  	name="gc" 
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let gc of gc_list" [value]="gc.id">{{ gc.user_names }}</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6" *ngIf="qc_list.length != 0 && (new_user.user_type == '1')">
		  <mat-select 
		  	required
		  	placeholder="Quality Coordinator" 
		  	[(ngModel)]="new_user.qc" 
		  	name="qc" 
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let qc of qc_list" [value]="qc.id">{{ qc.user_names }}</mat-option>
		  </mat-select>
		</mat-form-field>
		<div [formGroup]="emailForm" class="col-md-12">
			<mat-form-field style="width: 90%;">
				<input 
					required
					(click)="onkeyup()" 
					type="email" 
					matInput 
					placeholder="Email" 
					formControlName="email" 
					name="email">
			</mat-form-field>
			<mat-icon *ngIf="email_exist" style="color: red;">highlight_off</mat-icon>
			<mat-icon *ngIf="email_not_exist" style="color: green;">check_circle</mat-icon>
		</div>
	</form>
	<div class="row">
    <div class="col-md-6">
    	<button
    		[disabled]="regForm.invalid || email_exist || username_exist"
    		mat-raised-button 
    		(click)="addUser()"
    		style="background-color: lightblue;">
    		Save
    	</button>
    	&nbsp;
    	<button mat-raised-button (click)="onNoClick()"> Close </button>
    </div>
		<div class="col-md-4">
    	<mat-spinner *ngIf="savinguser" [diameter]="35"></mat-spinner>
    	<span><small style="color: red">{{error}}</small></span>
    </div>
	</div>
</div>
