<div class="container">
	<mat-toolbar style="background-color: lightblue;">New Project</mat-toolbar>
	<form #projForm="ngForm" class="row">
		<div [formGroup]='nameForm' class="col-md-12">
			<mat-form-field style="width: 92%;">
				<input
					(click)="onkeyup()" 
					required
					matInput 
					formControlName='name'
			    #searchBoxProjectname
		  	  (keyup)="(searchBoxProjectname.value)"
					placeholder="Name" 
					name="name">
			</mat-form-field>
					<!-- [(ngModel)]="new_proj.name"  -->
			<mat-icon *ngIf="name_exist" style="color: red;">highlight_off</mat-icon>
			<mat-icon *ngIf="name_not_exist" style="color: green;">check_circle</mat-icon>
		</div>

		<!-- <mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	placeholder="Country" 
		  	[(ngModel)]="new_proj.country" 
		  	name="country" 
		  	style="font-size: 0.8em;">
		    <mat-option value="Ethopia">Ethopia</mat-option>
		    <mat-option value="Kenya">Kenya</mat-option>
		    <mat-option value="Malawi">Malawi</mat-option>
		    <mat-option value="Uganda">Uganda</mat-option>
		    <mat-option value="Tanzania">Tanzania</mat-option>
		    <mat-option value="Zambia">Zambia</mat-option>
		  </mat-select>
		</mat-form-field> -->
	</form>
	<div class="row">
    <div class="col-md-6">
    	<button
    		[disabled]="projForm.invalid || name_exist"
    		mat-raised-button 
    		(click)="addProject()"
    		style="background-color: lightblue;">
    		Save
    	</button>
    	&nbsp;
    	<button mat-raised-button (click)="onNoClick()"> Close </button>
    </div>
	</div>
</div>
