<div class="container">
	<mat-toolbar style="background-color: #FFD700;">Update User Project</mat-toolbar>
	<form #regForm="ngForm" class="row">
		<!-- <mat-form-field  class="col-md-6">
			<input
				required
				matInput 
				placeholder="First Name" 
				[(ngModel)]="update_user.first_name" 
				name="first_name">
		</mat-form-field>
		<mat-form-field  class="col-md-6">
			<input
				required
				matInput 
				placeholder="Last Name" 
				[(ngModel)]="update_user.last_name" 
				name="last_name">
		</mat-form-field> -->
		<mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	placeholder="Country" 
		  	[(ngModel)]="update_user.country" 
		  	name="country"
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let item of countries" (click)="fetchCountryProjects()" [value]="item.id">{{item.name}}</mat-option>	  
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	placeholder="Project" 
		  	[(ngModel)]="update_user.project" 
		  	name="project" 
		  	style="font-size: 0.8em;">
		    <mat-option (click)="openNewProjectDialog();" style="background-color: lightblue;">Create New Project</mat-option>
		    <mat-option *ngFor="let proj of projects" [value]="proj.id">{{ proj.name }}</mat-option>
		  </mat-select>
		</mat-form-field>
	</form>
	<div class="row">
    <div class="col-md-6">
    	<button
    		[disabled]="regForm.invalid"
    		mat-raised-button 
    		(click)="updateUser()"
    		style="background-color: lightblue;">
    		Save
    	</button>
    	&nbsp;
    	<button mat-raised-button (click)="onNoClick()"> Close </button>
    </div>
	</div>
</div>
