<h2 mat-dialog-title style="background: lightblue; padding: 1em; color: #000000"><b>Agent Name: </b> {{agent_names}} | <b>ID: </b> id</h2>
<mat-dialog-content class="mat-typography">
  <table class="table-striped">
    <thead style="background: #3b355b; color: #ffffff; text-align: left;">
      <th>No.</th>
      <th>Evaluation</th>
      <th>Score</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of response?.evaluation_results; let i = index;">
        <td>{{i+1}}.</td>
        <td>{{item?.text}}</td>
        <td>{{item?.score}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table style="text-align: left; font-size: 11px;">
    <tbody class="td-border">
      <tr>
        <td><b>Instance</b></td>
        <td>{{response?.evaluation.instance}}</td>
      </tr>
      <tr>
        <td style="white-space: nowrap;"><b>Recommended Action</b></td>
        <td>{{response?.evaluation.recommended_action}}</td>
      </tr>
      <tr>
        <td><b>QC Comments</b></td>
        <td>{{response?.evaluation.comments}}</td>
      </tr>
      <tr>
        <td><b>Status</b></td>
        <td>{{response?.evaluation.status}}</td>
      </tr> 
    </tbody>
  </table>
  
</mat-dialog-content>
<mat-dialog-actions align="end" style="background: lightblue;">
  <button mat-raised-button mat-dialog-close style="margin-right: 1.2em;">Close</button>
</mat-dialog-actions>