<!-- <div class="row m-1">
	<mat-card class="col-md-12 mt-2">
		<form #newEvalForm="ngForm" class="row">
			<mat-form-field class="col-md-6">
			  <mat-select 
			  	required
			  	[(ngModel)]="coach_form.project"
			  	name="project"
			  	placeholder="Project Name" 
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let project of user_projects" [value]="project" (click)="fetchProjectForms(project.project_id);">
			      {{ project.name }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <mat-select 
			  	required
			  	[(ngModel)]="coach_form.agent_id"
			  	name="agent_id"
			  	placeholder="Agent Name" 
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let user of forms_list?.agents" [value]="user">
			      {{user.agent_names}}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
	    <mat-form-field class="col-md-6">
	      <input
	        required 
	        matInput
	        [(ngModel)]="coach_form.session_date"
	        name="session_date"
	        [matDatepicker]="picker1" 
	        placeholder="Date of Session">
	        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
	      <mat-datepicker #picker1></mat-datepicker>
	    </mat-form-field>

	    <mat-form-field class="col-md-6">
	      <input
	        required 
	        matInput
	        [(ngModel)]="coach_form.call_date"
	        name="call_date"
	        [matDatepicker]="picker2" 
	        placeholder="Call Date and Time">
	        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
	      <mat-datepicker #picker2></mat-datepicker>
	    </mat-form-field>
			<mat-form-field class="col-md-6">
			  <textarea
	        required 
			  	matInput
	        [(ngModel)]="coach_form.self_assessment_overview"
	        name="self_assessment_overview"
			  	placeholder="Self Assessment Overview (CSR gives their overal impression of the call and updates in this section)"></textarea>
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <textarea
	        required 
			  	matInput
	        [(ngModel)]="coach_form.strengths"
	        name="strengths"
	        placeholder="Strengths: (using examples from the call, TM advises the CSR what they felt were the best aspects of the call)"></textarea>
			</mat-form-field>
		</form>
			<mat-form-field class="col-md-6">
			  <textarea
	        required 
			  	matInput
	        [(ngModel)]="coach_form.areas_improvement"
	        name="areas_improvement"
	        placeholder="Areas Of Improvement: (using examples from the call, TM asks the CSR what they would most want to change or improve."></textarea>
			</mat-form-field>
		</form>

		<div class="row mt-2">
		  <div class="col-md-12">
		    <div class="d-flex justify-content-center">
		    	<button
		    		[disabled]="newEvalForm.invalid"
		    		mat-raised-button
		    		(click)="navigateTo();"
		    		style="background-color: lightblue;">
		    		Start Evaluation
		    	</button>
		    </div>
		  </div>
		</div>
	</mat-card>
</div>

Agent
DateSession
TimeSession

CallDateTime

SelfAssessmentOverview
Strengths
AreasImprovement -->