<h2 mat-dialog-title style="background: lightblue; padding: 1em; color: #000000">Delete Question </h2>
<mat-dialog-content class="mat-typography">
	<h4>Are you sure you want to delete this question ?</h4>
  <span><b>Question</b> : {{ question.text }}</span><br>
  <span><b>Description: </b>{{question.description}}</span><br>
  <span><b>Marks: </b>{{question.marks}}</span><br>
  <span>
    <b>Auto Fail: </b>
    <span *ngIf="question?.auto_fail">Yes</span>
    <span *ngIf="!question?.auto_fail">No</span>
  </span>
  <br>
	<br>
	<br>
</mat-dialog-content>
<mat-dialog-actions align="end" style="background: lightblue;">
  <button 
  	mat-raised-button 
  	(click)="deleteQuestion();"
  	style="margin-right: 1.2em; background: #f54d38; color: #ffffff;">
  	<mat-icon>delete</mat-icon> Delete
  </button>
  <button mat-raised-button mat-dialog-close style="margin-right: 1.2em;">Cancel</button>
</mat-dialog-actions>
