<h2 mat-dialog-title style="background: lightblue; padding: 1em; color: #000000">Edit Question </h2>
<mat-dialog-content class="mat-typography">
  <form #editQuestionForm="ngForm" class="row">
    <mat-form-field class="col-md-12">
      <textarea
        required
        matInput
        matAutosizeMinRows="3"
        matAutosizeMaxRows="5"
        placeholder="Text" 
        [(ngModel)]="question.text" 
        name="text">
      </textarea>
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <textarea
        matInput
        matAutosizeMinRows="3"
        matAutosizeMaxRows="5"
        placeholder="Description" 
        [(ngModel)]="question.description" 
        name="description">
      </textarea>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <input
        required
        matInput
        type="number"
        placeholder="Marks" 
        [(ngModel)]="question.marks" 
        name="marks">
    </mat-form-field>
    <div class="col-md-6">
      <label>Auto fail ?</label><br>
      <mat-radio-group
        required
        [(ngModel)]="question.auto_fail" 
        name="auto_fail">
        <mat-radio-button value="1">Yes</mat-radio-button>
        &nbsp;
        <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" style="background: lightblue;">
  <button 
  	mat-raised-button 
    [disabled]="editQuestionForm.invalid"
  	(click)="updateQuestion();"
  	style="margin-right: 1.2em; background: lightgreen;">
  	<mat-icon>save</mat-icon> Save
  </button>
  <button mat-raised-button mat-dialog-close style="margin-right: 1.2em;">Cancel</button>
</mat-dialog-actions>
