<h2 mat-dialog-title style="background: lightblue; padding: 1em; color: #000000">Delete Evaluation</h2>
<mat-dialog-content class="mat-typography">
	<form #deleteForm="ngForm" class="row">
		<mat-form-field class="col-md-9">
		  <input
		  	required
		  	placeholder="Call Id"
		  	matInput
		  	[(ngModel)]="call_id" 
		  	name="call_id">
		</mat-form-field>
    <div class="col-md-2">
    	<button
    		[disabled]="deleteForm.invalid"
    		mat-raised-button 
    		(click)="fetchEvaluation()"
    		style="background-color: lightblue;">
    		<mat-icon>search</mat-icon> Search
    	</button>
    </div>
	</form>

	<table class="table" *ngIf="evals">
		<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
			<th>delete</th>
			<th>agent_names</th>
			<th>ref_id</th>
			<th>call_date</th>
			<th>call_duration</th>
			<th>comments</th>
			<th>created_at</th>
		</thead>
		<tbody>
			<tr *ngFor="let item of evals">
				<td style="cursor: pointer;"><mat-icon style="color: red;" (click)="deleteEval(item.id)">delete</mat-icon></td>
				<td> {{item?.agent_names}} </td>
				<td> {{item?.ref_id}} </td>
				<td> {{item?.call_date}} </td>
				<td> {{item?.call_duration}} </td>
				<td> {{item?.comments}} </td>
				<td> {{item?.created_at | date : 'y-MM-dd h:mm a'}} </td>
			</tr>
		</tbody>
	</table>

</mat-dialog-content>
<mat-dialog-actions align="center" style="background: lightblue;">
  <button mat-raised-button mat-dialog-close style="margin-right: 1.2em;">Close</button>
</mat-dialog-actions>