<div class="container">
	<mat-toolbar style="background-color: lightblue;">New Evaluation Form</mat-toolbar>
	<form #newForm="ngForm" class="row">
		<div [formGroup]="evaluationForm" class="col-md-6">
			<mat-form-field style="width: 92%;">
				<input
					required
					(click)="onkeyup()" 
					matInput 
					formControlName='name'
			    #searchBoxUsername
		  	  (keyup)="(searchBoxUsername.value)"
					placeholder="Form name" 
					name="name">
			</mat-form-field>
			<mat-icon *ngIf="form_name_exist" style="color: red;">highlight_off</mat-icon>
			<mat-icon *ngIf="form_name_not_exist" style="color: green;">check_circle</mat-icon>
		</div>
		<mat-form-field class="col-md-6">
		  <mat-select 
		  	required
		  	(click)="onkeyup()" 
		  	placeholder="Project" 
		  	[(ngModel)]="new_form.project_id" 
		  	name="project_id" 
		  	style="font-size: 0.8em;">
		    <mat-option *ngFor="let project of user_projects" [value]="project.project_id">
		      {{ project.name }}
		    </mat-option>
		  </mat-select>
		</mat-form-field>
	</form>
	<div class="row">
    <div class="col-md-6">
    	<button
    		[disabled]="newForm.invalid || name_exist"
    		mat-raised-button 
    		(click)="addProjectForm()"
    		style="background-color: lightblue;">
    		Save
    	</button>
    	&nbsp;
    	<button mat-raised-button (click)="onNoClick()"> Close </button>
    </div>
	</div>
</div>
