<div class="row m-1">
  <div class="col-md-12">
    <p>
      <span routerLink="/qa/forms" style="color: #088ff5; cursor: pointer;"><u>Forms</u></span>
      /
      <span routerLink="/qa/new-category/{{details?.id}}" style="color: #088ff5; cursor: pointer;"><u>{{details?.name}}</u></span>
    </p>
  </div>
  <div class="col-md-12">
    <mat-toolbar style="background-color: #ffffff; margin-bottom: 4px;">
      <h4>{{details?.name}} Categories</h4>
      <span style="flex: 1 1 auto;"></span>
      <mat-chip-list>
        <mat-chip (click)="openCreateCategoryView()" style="background-color: lightblue;">
          <mat-icon>add</mat-icon> New Categories
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>
  </div>

  <mat-card 
    class="col-md-12" 
    *ngIf="create_category" 
    style="background-color: #dcdcdc">
    <h6>Create New Category</h6>
    <form #categoryForm="ngForm" class="row">
      <mat-form-field class="col-md-12">
        <input
          required
          matInput
          placeholder="Category Name" 
          [(ngModel)]="category.name" 
          name="name">
      </mat-form-field>
      <!-- <div class="col-md-6">
        <label>Auto fail ?</label><br>
        <mat-radio-group
          required
          [(ngModel)]="category.auto_fail" 
          name="auto_fail">
          <mat-radio-button value="1">Yes</mat-radio-button>
          &nbsp;
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
      </div> -->
    </form>
    <div class="d-flex justify-content-center mt-1">
      <button
        [disabled]="categoryForm.invalid"
        mat-raised-button 
        (click)="createFormCategory()"
        style="background-color: lightgreen;">
        Save
      </button>
      &nbsp;
      <button
        mat-raised-button 
        (click)="closeCreateCategoryView()">
        Cancel
      </button>
    </div>
  </mat-card>

  <div class="col-md-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <span
            *ngIf="element.total == 0" 
            routerLink="/qa/category-questions/{{element.id}}"
            style="
              color: #549eff;
              background: transparent;
              cursor: pointer; 
              font-weight: 600;
              display: inline-block;
              width: auto;
              padding: 3px 8px;
              margin-right: 3px;
              font-size: 0.5625rem;
              text-transform: uppercase;
              border-radius: 0.5em;
              border-style: solid;
              border-width: 2px;
              border-color: #549eff;
              -webkit-border-radius: 3px;
              letter-spacing: 0;">
            Create Questions
          </span>
          <span *ngIf="element.total == 0" class="dot"></span>

          <span
            *ngIf="element.total != 0" 
            routerLink="/qa/category-questions/{{element.id}}"
            style="
              color: green;
              background: transparent;
              cursor: pointer; 
              font-weight: 600;
              display: inline-block;
              width: auto;
              padding: 3px 8px;
              font-size: 0.5625rem;
              text-transform: uppercase;
              border-radius: 0.5em;
              border-style: solid;
              border-width: 2px;
              border-color: green;
              -webkit-border-radius: 3px;
              letter-spacing: 0;">
            View Questions
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>

	<div *ngIf="form_categories?.length == 0" class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
	  <strong>No Categories Found</strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>

</div>