<div class="row m-1">
  <div class="col-md-12">
    <p>
      <span routerLink="/auth/users" style="color: #088ff5; cursor: pointer;"><u>Users</u></span>
    </p>
  </div>

  <mat-card class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <mat-icon style="font-size: 8em;">person</mat-icon>
      </div>
      <div class="col-md-6">
        <h5>{{details?.first_name}} {{details?.last_name}}</h5>
        <a href="mailto:{{details?.email}}">{{details?.email}}</a><br>
        <span>
          <span *ngIf="details?.role_id == 1">Agent<br></span>
          <span *ngIf="details?.role_id == 2">Quality Co-ordinator<br></span>
          <span *ngIf="details?.role_id == 3">Group Co-ordinator<br></span>
          <span *ngIf="details?.role_id == 4">Team Co-ordinator<br></span>
          <span *ngIf="details?.role_id == 5">Admin<br></span>
        </span>
      </div>
      <div style="flex: 1 1 auto;"></div>
      <div class="col-md-2">
        <mat-chip-list *ngIf="details?.is_active">
          <mat-chip (click)="openActivaUserDialog(details, 'Deactivate');" style="color: #f54d38;">
            Deactivate Account <mat-icon>close</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <mat-chip-list *ngIf="!details?.is_active">
          <mat-chip (click)="openActivaUserDialog(details, 'Activate');" style="color: green;">
            Activate Account <mat-icon>check</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <!-- <mat-chip-list>
        <mat-chip style="background-color: #e3e3e3; cursor: pointer;">
          Edit <mat-icon style="font-size: 1.2em;">edit</mat-icon>
        </mat-chip>
      </mat-chip-list> -->
    </div>
  </mat-card>

  <mat-card class="col-md-12 mt-2" *ngIf="details?.role_id != 5">
    <div class="row">
      <div class="col-md-6" style="border-right: solid gray 1px;">
          <span *ngIf="details?.projects.length <= 1"><u>Project</u></span>
          <span *ngIf="details?.projects.length > 1"><u>Projects</u></span>
          <!-- <span style="flex: 1 1 auto;"></span> -->
          <mat-chip-list style="float: right;">
            <mat-chip (click)="openAddUserProjectDialog(details);" style="color: green;">
              Add <mat-icon>add</mat-icon>
            </mat-chip>
          </mat-chip-list>
        <div *ngFor="let proj of details?.projects">
          <span>{{proj?.name}}</span><br>
        </div>
      </div>
      <div class="col-md-6" *ngIf="details?.team_up">
        <h6><u>{{details?.team_up}}</u></h6>
        <div *ngFor="let item of details?.members_up">
          <span>{{item?.names}}</span><br>
        </div>
      </div>
      <div class="col-md-6" *ngIf="details?.team_down">
        <h6><u>{{details?.team_down}}</u></h6>
        <div *ngFor="let item of details?.members_down">
          <span>{{item?.names}}</span><br>
        </div>
      </div>
    </div>
  </mat-card>

</div>