ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul {
	background-color: #16508e;
	width: 200px;
	height: 85%;
}

ul.closed {
	width: 53px;
	
	li > span { display: none; }
}

.active { 
	background-color: #0095da;
	color: #ffffff;
}
a:hover { 
	background-color: #0095da; 
	color: #ffffff;
}

a {
	cursor: pointer;
	color: #ffffff;
	font-size: 1em;
	vertical-align: middle;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;

	mat-icon {
		margin-right: .5em;
	}

	span {
		display: inline-flex;
		align-items: center;
	}
}

li.org-logo > img {
	/*width: 10px;*/
	height: 40px;
	margin-right: 1em;
	border-radius: 0.4em;
}


:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  height: 100%;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}

.mat-sidenav {
  /*width: 360px;*/
}
.mat-sidenav-container {
  background-color: white !important;
  height: 92vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}