<div class="m-1">
	<mat-card>
		<mat-tab-group mat-stretch-tabs class="row" *ngIf="evaluate">
		  <mat-tab label="{{category?.name}}">
				<mat-vertical-stepper linear="true" #stepper>
				  <mat-step *ngFor="let question of questions; let q_index = index;">
				    <form #ansForm="ngForm">
				      <ng-template matStepLabel>{{question?.text}}</ng-template>
							<div class="m-1 d-flex justify-content-center">
						    <input type="radio" name="a" [(ngModel)]="report.a" required value="false"> &nbsp; 0
						    &nbsp;
						    <input type="radio" name="a" [(ngModel)]="report.a" required value="true"> &nbsp; {{question?.marks}}
							</div>

				      <div class="mt-1 d-flex justify-content-center">
				        <button
				        	mat-raised-button 
				        	*ngIf="questions.length != q_index + 1;" 
				        	matStepperNext
				        	(click)="pileResponse(category?.id, question?.id, report.a, question?.marks, 'continue');"
				        	[disabled]="ansForm.invalid">
				        	Next <mat-icon>keyboard_arrow_down</mat-icon>
				        </button> &nbsp;
						  	<button
						  		mat-raised-button 
						  		*ngIf="!no_next && questions.length == q_index + 1;" 
						  		(click)="pileResponse(category?.id, question?.id, report.a, question?.marks, 'continue'); nextTab('next');" 
						  		[disabled]="ansForm.invalid">
						  		Proceed <mat-icon>keyboard_arrow_right</mat-icon>
						  	</button> &nbsp;
						  	<button
							  	[disabled]="ansForm.invalid"
						  		mat-raised-button 
						  		*ngIf="no_next && questions.length == q_index + 1;"
						  		(click)="pileResponse(category?.id, question?.id, report.a, question?.marks, 'submit');">
						  		Submit
						  	</button> &nbsp;
				      </div>
				    </form>
				  </mat-step>
				  <mat-step *ngIf="category?.total == 0">
						<div class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
						  <strong>No Questions Found for this category. Please create Questions to continue with the evaluation</strong>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
					</mat-step>
				</mat-vertical-stepper>
		  </mat-tab>
		</mat-tab-group>

		<div *ngIf="result">
			<div class="row row-eq-height">
				<div class="col-md-6" style="border-right: solid #cecece 1px;">
					<h6><u>Evaluation Results</u></h6>
					<mat-list role="list">
					  <mat-list-item role="listitem" *ngFor="let item of user_score?.form_categories_score">
					  	<span>{{item?.form_cat_name}} </span>
					  	<span style="flex: 1 auto;"></span>
					  	<span [style.color]="item?.color_code">{{item?.cat_score}} % </span>
					  </mat-list-item>
					  <mat-list-item role="listitem">
					  	<span>Overall QA Score </span>
					  	<span style="flex: 1 auto;"></span>
					  	<span [style.color]="user_score?.form_colorCode">{{user_score?.form_score}} % </span>
					  </mat-list-item>
					</mat-list>
				</div>
				<div class="col-md-6">
					<form #finishForm="ngForm" class="row" style="height: calc(100%);">
						<mat-form-field class="col-md-12" style="height: calc(70/3%);">
						  <mat-select 
						  	required
						  	[(ngModel)]="update_report.instance"
						  	name="instance"
						  	placeholder="Instance" 
						  	style="font-size: 0.8em;">
						    <mat-option value="1st Instance">1st Instance</mat-option>
						    <mat-option value="2nd Instance">2nd Instance</mat-option>
						    <mat-option value="3rd Instance">3rd Instance</mat-option>
						    <mat-option value="4th Instance">4th Instance</mat-option>
						    <mat-option value="5th Instance">5th Instance</mat-option>
						  </mat-select>
						</mat-form-field>
						<mat-form-field class="col-md-12" style="height: calc(70/3%);">
						  <mat-select 
						  	required
						  	[(ngModel)]="update_report.recommended_action"
						  	name="recommended_action"
						  	placeholder="Recommended Action" 
						  	style="font-size: 0.8em;">
						    <mat-option value="Coaching">Coaching</mat-option>
						    <mat-option value="Coaching + Verbal Warning">Coaching + Verbal Warning</mat-option>
						    <mat-option value="Coaching + Written Warning">Coaching + Written Warning</mat-option>
						    <mat-option value="Coaching + Final Written Warning">Coaching + Final Written Warning</mat-option>
						    <mat-option value="Performance Improvement Plan">Performance Improvement Plan</mat-option>
						  </mat-select>
						</mat-form-field>
						<mat-form-field class="col-md-12" style="height: calc(30%);">
						  <textarea
								matInput
						  	required
						  	[(ngModel)]="update_report.comments"
								matTextareaAutosize
								matAutosizeMinRows=5
								matAutosizeMaxRows=5 
								placeholder="QC Comments"
								name="comments"></textarea>
						</mat-form-field>
						<mat-form-field class="col-md-12" style="height: calc(70/3%);">
						  <mat-select 
						  	required
						  	[(ngModel)]="update_report.status"
						  	name="status"
						  	placeholder="Status" 
						  	style="font-size: 0.8em;">
						    <mat-option value="Open">Open</mat-option>
						    <mat-option value="Closed">Closed</mat-option>
						  </mat-select>
						</mat-form-field>
					</form>
				</div>
			</div>
      <div class="mt-1 d-flex justify-content-center">
		  	<button
			  	[disabled]="finishForm.invalid"
		  		mat-raised-button
		  		(click)="updateResponse();">
		  		Finish
		  	</button> &nbsp;
      </div>
		</div>
	</mat-card>
</div>