<mat-toolbar *ngIf="loggedin" fxHide.gt-xs>
  <mat-toolbar-row>
    <img src="assets/images/tbbl.png" style="height: 100%;">
    <span style="flex: 1 1 auto;"></span>
    <span><small>{{user_names}}</small> | <small>{{project_name}}</small></span>
    <!-- <button mat-icon-button routerLink="/auth/settings">
      <mat-icon>settings</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container [autosize]="true" class="row" style="min-height: 91vh;">
  <mat-sidenav #appDrawer *ngIf="loggedin" mode="side" opened>
    <mat-nav-list>
      <app-nav *ngFor="let item of navItems" [item]="item"></app-nav>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
