
mat-sidenav-container {
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
}

mat-sidenav-content {
	width: auto;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}

mat-toolbar-row > span { padding-left: 1em; }

mat-toolbar-row {
	color: #767576;
	font-size: .7em;
	box-shadow: 0px 0px 20px lightgray;
	
	/*mat-icon { text-align: center; vertical-align: middle; }*/
	
	span:last-child {
		font-style: italic;
	}
}

.router-outlet {
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

button {
	outline: none;
}

.bg {
  /* Full height */
  /*height: 100vh; */
  /*margin: 0;*/

  /* Center and scale the image nicely */
  background-image: url("/ui/assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}