<!-- <admin-nav></admin-nav> -->
<!-- <app-settings></app-settings> -->

<div class="row m-1">
	<mat-card class="col-md-12">
		<div class="row">
			<div class="col-md-12">
			<mat-toolbar style="background-color: #ffffff; margin-bottom: 4px;">
				<h4>Users</h4>

				<span class="spacer"></span>
				<mat-chip-list>
				  <mat-chip (click)="openUserDialog()" style="background-color: lightblue;">
				  	<mat-icon>add</mat-icon> New User
				  </mat-chip>
				</mat-chip-list>
			</mat-toolbar>
			</div>
		</div>

		<mat-tab-group mat-stretch-tabs (selectedTabChange)="tabSwitch($event.tab.textLabel);">
		  <mat-tab label="Active">
				<mat-form-field>
				  <input matInput (keyup)="applyFilterActive($event.target.value)" placeholder="Filter">
				</mat-form-field>
				<table mat-table [dataSource]="dataSourceActive" class="mat-elevation-z8">
				  <ng-container matColumnDef="name">
				    <th mat-header-cell *matHeaderCellDef> Name </th>
				    <td mat-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}</td>
				  </ng-container>
				  <ng-container matColumnDef="country">
				    <th mat-header-cell *matHeaderCellDef> Country </th>
				    <td mat-cell *matCellDef="let element">{{element.country}}</td>
				  </ng-container>
				  <ng-container matColumnDef="email">
				    <th mat-header-cell *matHeaderCellDef> Email </th>
				    <td mat-cell *matCellDef="let element"><a href="mailto:element.email">{{element.email}}</a></td>
				  </ng-container>
				  <ng-container matColumnDef="user_type">
				    <th mat-header-cell *matHeaderCellDef> User type </th>
				    <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
				  </ng-container>
				  <ng-container matColumnDef="active">
				    <th mat-header-cell *matHeaderCellDef> Deactivate </th>
				    <td mat-cell *matCellDef="let element">
							<mat-chip-list>
							  <mat-chip (click)="openActivaUserDialog(element, 'Deactivate');" style="color: #f54d38;">
							  	<mat-icon>close</mat-icon>
							  </mat-chip>
							</mat-chip-list>
				    </td>
				  </ng-container>
				  <ng-container matColumnDef="view">
				    <th mat-header-cell *matHeaderCellDef> </th>
				    <td mat-cell *matCellDef="let element">
		          <button
		          	mat-button
		            routerLink="/auth/profile/{{element.id}}"
		            style="
		              color: black;
		              background: transparent;
		              cursor: pointer; 
		              font-weight: 600;
		              display: inline-block;
		              width: auto;
		              margin-right: 3px;
		              font-size: 0.5625rem;
		              text-transform: uppercase;
		              border-radius: 0.5em;
		              border-style: solid;
		              border-width: 2px;
		              border-color: darkgrey;
		              -webkit-border-radius: 3px;
		              letter-spacing: 0;">
		            View <mat-icon>person</mat-icon>
		          </button>
				    </td>
				  </ng-container>
				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
		  </mat-tab>

		  <mat-tab label="Inactive">
				<mat-form-field>
				  <input matInput (keyup)="applyFilterInactive($event.target.value)" placeholder="Filter">
				</mat-form-field>
				<table mat-table [dataSource]="dataSourceInactive" class="mat-elevation-z8">
				  <ng-container matColumnDef="name">
				    <th mat-header-cell *matHeaderCellDef> Name </th>
				    <td mat-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}</td>
				  </ng-container>
				  <ng-container matColumnDef="country">
				    <th mat-header-cell *matHeaderCellDef> Country </th>
				    <td mat-cell *matCellDef="let element">{{element.country}}</td>
				  </ng-container>
				  <ng-container matColumnDef="email">
				    <th mat-header-cell *matHeaderCellDef> Email </th>
				    <td mat-cell *matCellDef="let element"><a href="mailto:element.email">{{element.email}}</a></td>
				  </ng-container>
				  <ng-container matColumnDef="user_type">
				    <th mat-header-cell *matHeaderCellDef> User type </th>
				    <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
				  </ng-container>
				  <ng-container matColumnDef="active">
				    <th mat-header-cell *matHeaderCellDef> Activate </th>
				    <td mat-cell *matCellDef="let element">
							<mat-chip-list>
							  <mat-chip (click)="openActivaUserDialog(element, 'Activate');" style="color: green;">
							  	<mat-icon>check</mat-icon>
							  </mat-chip>
							</mat-chip-list>
				    </td>
				  </ng-container>
				  <ng-container matColumnDef="view">
				    <th mat-header-cell *matHeaderCellDef> </th>
				    <td mat-cell *matCellDef="let element">
		          <button
		          	mat-button
		            routerLink="/auth/profile/{{element.id}}"
		            style="
		              color: black;
		              background: transparent;
		              cursor: pointer; 
		              font-weight: 600;
		              display: inline-block;
		              width: auto;
		              margin-right: 3px;
		              font-size: 0.5625rem;
		              text-transform: uppercase;
		              border-radius: 0.5em;
		              border-style: solid;
		              border-width: 2px;
		              border-color: darkgrey;
		              -webkit-border-radius: 3px;
		              letter-spacing: 0;">
		            View <mat-icon>person</mat-icon>
		          </button>
				    </td>
				  </ng-container>
				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
		  </mat-tab>
		</mat-tab-group>
	</mat-card>
</div>
