<div class="container">
	<mat-toolbar style="background-color: lightblue;">Update User Project</mat-toolbar>
	<form #regForm="ngForm" class="row">
		<mat-form-field class="col-md-12" style="font-size: 0.8em;">
		  <mat-select placeholder="Project(s)" [formControl]="admin_projects" multiple>
		    <mat-select-trigger>
	      	{{admin_projects.value?.length}} selected
		    </mat-select-trigger>
		    <mat-option *ngFor="let proj of projects" [value]="proj.id" [disabled]="proj?.disabled">{{ proj.name }}</mat-option>
		  </mat-select>
		</mat-form-field>
	</form>
	<div class="row">
    <div class="col-md-6">
    	<button
    		[disabled]="regForm.invalid"
    		mat-raised-button 
    		(click)="addUserProjects()"
    		style="background-color: lightblue;">
    		Save
    	</button>
    	&nbsp;
    	<button mat-raised-button (click)="onNoClick()"> Close </button>
    </div>
	</div>
</div>