<div class="row m-1">
	<mat-card class="col-md-12">
		<div class="row">
			<div class="col-md-12">
			<mat-toolbar style="background-color: #ffffff; margin-bottom: 4px;">
				<h4>New Evaluation</h4>
	      <span style="flex: 1 1 auto;"></span>
	      <mat-chip-list>
	        <mat-chip (click)="openDeleteEvaluation()" style="background-color: lightblue;">
	          <mat-icon>remove</mat-icon> Delete Evaluation
	        </mat-chip>
	      </mat-chip-list>
			</mat-toolbar>
			</div>
		</div>
	</mat-card>

	<mat-card class="col-md-12 mt-2">
		<form #newEvalForm="ngForm" class="row">
			<mat-form-field class="col-md-6">
			  <mat-select 
			  	required
			  	[(ngModel)]="eva_form.project"
			  	name="project"
			  	placeholder="Project Name" 
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let project of user_projects" [value]="project" (click)="fetchProjectForms(project.project_id);">
			      {{ project.name }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <mat-select 
			  	required
			  	[(ngModel)]="eva_form.form"
			  	name="form"
			  	placeholder="Select Form" 
			  	style="font-size: 0.8em;">
			    <!-- <mat-option (click)="openNewFormDialog();" style="background-color: lightblue;">Create New Form</mat-option> -->
			    <mat-option *ngFor="let form of forms_list?.forms" [value]="form">
			      {{ form.name }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <mat-select 
			  	required
			  	[(ngModel)]="eva_form.agent_id"
			  	name="agent_id"
			  	placeholder="Agent Name" 
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let user of forms_list?.agents" [value]="user">
			      {{user.agent_names}}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <mat-select 
			  	required
			  	[(ngModel)]="eva_form.evaluation_type"
			  	name="evaluation_type"
			  	placeholder="Evaluation Type" 
			  	style="font-size: 0.8em;">
			    <!-- <mat-option *ngFor="let type of userType" [value]="type.id"> -->
			    <mat-option value="General">General</mat-option>
			    <mat-option value="High AHT">High AHT</mat-option>
			    <mat-option value="Top Call Drivers">Top Call Drivers</mat-option>
			    <mat-option value="Repeat Calla">Repeat Calla</mat-option>
			    <mat-option value="Call Disconnects">Call Disconnects</mat-option>
			    <mat-option value="Silent Calls">Silent Calls</mat-option>
			    <mat-option value="Prank Calls">Prank Calls</mat-option>
			  </mat-select>
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <input
	        required 
			  	matInput
	        [(ngModel)]="eva_form.disposition"
	        name="disposition"
	        placeholder="Disposition">
			</mat-form-field>
	    <mat-form-field class="col-md-6">
	      <input
	        required 
	        matInput
	        [(ngModel)]="eva_form.call_date"
	        name="call_date"
	        [matDatepicker]="picker1" 
	        placeholder="Call Date">
	        <!-- [(ngModel)]="new_huddle.date" 
	        name="date" -->
	        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
	      <mat-datepicker #picker1></mat-datepicker>
	    </mat-form-field>
			<mat-form-field class="col-md-6">
			  <input
	        required 
			  	matInput
	        [(ngModel)]="eva_form.ref_id"
	        name="ref_id"
			  	placeholder="Reference Id">
			</mat-form-field>
			<mat-form-field class="col-md-6">
			  <input
	        required 
			  	matInput
	        [(ngModel)]="eva_form.call_duration"
	        name="call_duration"
	        placeholder="Call Duration">
			</mat-form-field>
		</form>

		<div class="row mt-2">
		  <div class="col-md-12">
		    <div class="d-flex justify-content-center">
		    	<button
		    		[disabled]="newEvalForm.invalid"
		    		mat-raised-button
		    		(click)="navigateTo();"
		    		style="background-color: lightblue;">
		    		Start Evaluation
		    	</button>
		    </div>
		  </div>
		</div>


	</mat-card>
</div>
