table {
  border: 1px #bac1ff solid;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
	font-size: 11px; 
}

.table-striped > tbody > tr:nth-child(2n+1) {
	font-size: 11px; 
	background: #d9d5ed; 
	color: #000; 
	text-align: left; 
	padding: 7px
}
.table-striped > tbody > tr:nth-child(2n+2) {
	font-size: 11px; 
	background: #fff; 
	color: #000; 
	text-align: left; 
	padding: 7px;
}
	
td {
	border: 1px #bac1ff solid;
	border-collapse: collapse;
}