<div class="row m-1">
	<mat-toolbar class="mat-elevation-z2" style="background-color: #ffffff; margin-bottom: 4px;">
		<h4>Evaluation Report</h4>
	</mat-toolbar>

<!-- <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>john@gmail.com</td>
        <td>USA</td>
    </tr>
    <tr>
        <td>Stephen Thomas</td>
        <td>stephen@gmail.com</td>
        <td>UK</td>
    </tr>
    <tr>
        <td>Natly Oath</td>
        <td>natly@gmail.com</td>
        <td>France</td>
    </tr>
</table> -->

	<mat-card class="col-md-12 mt-2">
  	<form #dateForm="ngForm" class="row">
			<mat-form-field *ngIf="isSuperAdmin" [ngClass]="{ 'col-md-4': isSuperAdmin, 'col-md-6': isNormalAdmin }">
			  <mat-select 
			  	required
			  	placeholder="Country" 
			  	[(ngModel)]="report.country" 
			  	name="country"
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let item of countries" (click)="fetchCountryProjects(item.id)" [value]="item.id">{{item.name}}</mat-option>	  
			  </mat-select>
			</mat-form-field>
			<!-- <mat-form-field [ngClass]="{ 'col-md-4': isSuperAdmin, 'col-md-4': isNormalAdmin }"> -->
			<mat-form-field class="col-md-4">
			  <mat-select 
			  	required
			  	placeholder="Project" 
			  	[(ngModel)]="report.project" 
			  	name="project"
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let proj of projects" (click)="fetchProjectForms(proj.id)" [value]="proj.id">{{proj.name}}</mat-option>	  
			  </mat-select>
			</mat-form-field>
			<!-- <mat-form-field [ngClass]="{ 'col-md-4': isSuperAdmin, 'col-md-4': isNormalAdmin }"> -->
			<mat-form-field class="col-md-4">
			  <mat-select 
			  	required
			  	placeholder="Form" 
			  	[(ngModel)]="report.form" 
			  	name="form"
			  	style="font-size: 0.8em;">
			    <mat-option *ngFor="let form of forms_list" [value]="form.id">{{form.name}}</mat-option>	  
			  </mat-select>
			</mat-form-field>
			<!-- <mat-form-field [ngClass]="{ 'col-md-4': isSuperAdmin, 'col-md-4': isNormalAdmin }"> -->
			<mat-form-field class="col-md-4">
			  <mat-select 
			  	required
			  	placeholder="Type" 
			  	[(ngModel)]="report.type" 
			  	name="type"
			  	style="font-size: 0.8em;">
			    <mat-option value="project">Project</mat-option>
			    <mat-option value="team">Team</mat-option>
			    <mat-option *ngIf="isQc" value="agent">Agent</mat-option>
			  </mat-select>
			</mat-form-field>

      <mat-form-field [ngClass]="{ 'col-md-4': isSuperAdmin, 'col-md-6': isNormalAdmin }">
        <input 
          matInput
          required 
          [matDatepicker]="picker1" 
          placeholder="Date from" 
          [(ngModel)]="report.datefrom"
          name="datefrom">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field [ngClass]="{ 'col-md-4': isSuperAdmin, 'col-md-6': isNormalAdmin }">
          <!-- required  -->
        <input 
          matInput
          [matDatepicker]="picker2" 
          placeholder="Date to" 
          [(ngModel)]="report.dateto"
          name="dateto">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
		</form>
    <div class="d-flex justify-content-center">
      <button
        [disabled]="dateForm.invalid" 
        mat-raised-button 
        (click)="fetchEvaluationReport()"
        style="background-color: #94d8ff;">
        Filter
        <i *ngIf="loading_filter" class="fa fa-spinner fa-spin"></i>
      </button>
      &nbsp;
      <!-- <button
        [disabled]="dateForm.invalid" 
        mat-raised-button 
        (click)="downloadEvaluationReport()"
        style="background-color: #94d8ff;">
        <mat-icon>save_alt</mat-icon> Download
        <i *ngIf="loading_download" class="fa fa-spinner fa-spin"></i>
      </button> -->
    </div>
		<!-- <mat-form-field style="font-size: 14px; width: 100%;">
		  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field> -->
		<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
		  <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
		    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
		    <td mat-cell *matCellDef="let element"> 
          <span *ngIf="column == 'name'" class="dot"></span>
		    	<span>{{element[column]}}</span>
		    	</td>
		  </ng-container> -->
		  <!-- <ng-container matColumnDef="name">
		    <th mat-header-cell *matHeaderCellDef> Name </th>
		    <td mat-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}</td>
		  </ng-container>
		  <ng-container matColumnDef="country">
		    <th mat-header-cell *matHeaderCellDef> Country </th>
		    <td mat-cell *matCellDef="let element">{{element.country}}</td>
		  </ng-container>
		  <ng-container matColumnDef="project">
		    <th mat-header-cell *matHeaderCellDef> Project </th>
		    <td mat-cell *matCellDef="let element">{{element.project?.name}}</td>
		  </ng-container>
		  <ng-container matColumnDef="user_type">
		    <th mat-header-cell *matHeaderCellDef> User type </th>
		    <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
		  </ng-container>
		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator> -->
	</mat-card>

	<button *ngIf="esc_report" mat-raised-button (click)="exportTableToCSV()">Export Table To CSV File</button>
	<mat-card class="col-md-12 mt-2" *ngIf="esc_report && rpt_team">
		<br>
		<table class="table" *ngIf="all_view && esc_report">
			<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
				<tr>
					<td><b>Name</b></td>
					<td><b>Evaluation Count</b></td>
					<td *ngFor="let column of esc_report?.displayColumns"><b>{{column.form_cat_name}}</b></td>
					<td><b>Overall QA Score</b></td>
				</tr>
			</thead>
			<tbody *ngFor="let gc of esc_report?.finalReport">
				<tr *ngIf="gc?.report?.length > 0">
					<td colspan="esc_report?.displayColumns?.length+3"><b>{{gc?.gc_names}}</b></td>
				</tr>
				<tr *ngFor="let item of gc?.report">
					<td>{{item?.agent_names}}</td>
					<td><button type="link" class="btn link btn-sm" style="color: #007bff;" (click)="viewAgentReport(item?.agent_data);">{{item?.times}}</button></td>
					<td *ngFor="let fct of item?.arr4" [style.color]="fct?.color_code">{{fct?.avg_cat_score}} %</td>
					<td [style.color]="item?.avg_color_code">{{item?.avg_form_score}} %</td>
				</tr>
			</tbody>
		</table>

		<button 
			*ngIf="agent_view && esc_report"
			(click)="goBack();" 
    	mat-button
      style="
        color: black;
        background: transparent;
        cursor: pointer; 
        font-weight: 600;
        display: inline-block;
        width: auto;
        margin-right: 2px;
        font-size: 0.625rem;
        text-transform: uppercase;
        border-radius: 0.4em;
        border-style: solid;
        border-width: 1px;
        border-color: #504c6a;
        -webkit-border-radius: 2px;
        letter-spacing: 0;">
			<mat-icon style="color: #504c6a;">arrow_back</mat-icon> Back
		</button>
		<table class="table" *ngIf="agent_view && esc_report">
			<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
				<tr>
					<td><b>Name</b></td>
					<td *ngFor="let column of esc_report?.displayColumns"><b>{{column.form_cat_name}}</b></td>
					<td><b>Overall QA Score</b></td>
					<td><b>#</b></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of agent_info">
					<td>{{item?.agent_names}}</td>
					<td *ngFor="let fcs of item?.form_categories_score" [style.color]="fcs?.color_code">{{fcs?.cat_score}} %</td>
					<td [style.color]="item?.form_colorCode">{{item?.form_score}} %</td>
					<td>
	          <span
	          	(click)="openResponseDialog(item?.agent_names, item?.eval_res_id);"
	            style="
	              width: auto;
		            height: 20px!important;
					      min-height: unset!important;
	              color: black;
	              background: transparent;
	              cursor: pointer; 
	              font-weight: 600;
	              display: inline-block;
	              margin-right: 2px;
	              font-size: 0.625rem;
	              text-transform: uppercase;
	              border-radius: 0.4em;
	              border-style: solid;
	              border-width: 1px;
	              border-color: #504c6a;
	              -webkit-border-radius: 2px;
	              letter-spacing: 0;">
	            View
	          </span>
					</td>
				</tr>
			</tbody>
		</table>
	</mat-card>

	<mat-card class="col-md-12 mt-2" *ngIf="esc_report && rpt_project">
		<table class="table" *ngIf="all_view && esc_report">
			<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
				<tr>
					<td><b>Name</b></td>
					<td><b>Evaluation Count</b></td>
					<td *ngFor="let column of esc_report?.displayColumns"><b>{{column.form_cat_name}} </b></td>
					<td><b>Overall QA Score</b></td>
				</tr>
			</thead>
			<tbody *ngFor="let gc of esc_report?.finalReport">
				<tr>
					<td><b>{{gc?.gc_names}}</b></td>
					<td><button type="link" class="btn link btn-sm" style="color: #007bff;" (click)="viewAgentReport(gc?.all_agents);">{{gc?.all_agents.length}}</button></td>
					<td *ngFor="let item of gc?.report" [style.color]="item?.color_code">{{item?.avg_cat_score}} %</td>
					<td [style.color]="gc?.gc_form_avg_color">{{gc?.gc_form_avg}} %</td>
				</tr>
			</tbody>
		</table>

		<button 
			*ngIf="agent_view && esc_report"
			(click)="goBack();" 
    	mat-button
      style="
        color: black;
        background: transparent;
        cursor: pointer; 
        font-weight: 600;
        display: inline-block;
        width: auto;
        margin-right: 2px;
        font-size: 0.625rem;
        text-transform: uppercase;
        border-radius: 0.4em;
        border-style: solid;
        border-width: 1px;
        border-color: #504c6a;
        -webkit-border-radius: 2px;
        letter-spacing: 0;">
			<mat-icon style="color: #504c6a;">arrow_back</mat-icon> Back
		</button>
		<table class="table" *ngIf="agent_view && esc_report">
			<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
				<tr>
					<td><b>Name</b></td>
					<td *ngFor="let column of esc_report?.displayColumns"><b>{{column.form_cat_name}} </b></td>
					<td><b>Overall QA Score</b></td>
					<td><b>#</b></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of agent_info">
					<td>{{item?.agent_names}}</td>
					<td *ngFor="let fcs of item?.form_categories_score" [style.color]="fcs?.color_code">{{fcs?.cat_score}} %</td>
					<td [style.color]="item?.form_colorCode">{{item?.form_score}} %</td>
					<td>
	          <span
	          	(click)="openResponseDialog(item?.agent_names, item?.eval_res_id);"
	            style="
	              width: auto;
		            height: 20px!important;
					      min-height: unset!important;
	              color: black;
	              background: transparent;
	              cursor: pointer; 
	              font-weight: 600;
	              display: inline-block;
	              margin-right: 2px;
	              font-size: 0.625rem;
	              text-transform: uppercase;
	              border-radius: 0.4em;
	              border-style: solid;
	              border-width: 1px;
	              border-color: #504c6a;
	              -webkit-border-radius: 2px;
	              letter-spacing: 0;">
	            View
	          </span>
					</td>
				</tr>
			</tbody>
		</table>
	</mat-card>

	<mat-card class="col-md-12 mt-2" *ngIf="esc_report && rpt_agents">
		<table class="table" *ngIf="all_view && esc_report">
			<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
				<tr>
					<td><b>Name</b></td>
					<td><b>Evaluation Count</b></td>
					<td *ngFor="let column of esc_report?.displayColumns"><b>{{column.form_cat_name}}</b></td>
					<td><b>Overall QA Score</b></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of esc_report?.finalReport">
					<td>{{item?.agent_names}}</td>
					<td><button type="link" class="btn link btn-sm" style="color: #007bff;" (click)="viewAgentReport(item?.agent_data);">{{item?.times}}</button></td>
					<td *ngFor="let fct of item?.arr4" [style.color]="fct?.color_code">{{fct?.avg_cat_score}} %</td>
					<td [style.color]="item?.avg_color_code">{{item?.avg_form_score}} %</td>
				</tr>
			</tbody>
		</table>

		<button 
			*ngIf="agent_view && esc_report"
			(click)="goBack();" 
    	mat-button
      style="
        color: black;
        background: transparent;
        cursor: pointer; 
        font-weight: 600;
        display: inline-block;
        width: auto;
        margin-right: 2px;
        font-size: 0.625rem;
        text-transform: uppercase;
        border-radius: 0.4em;
        border-style: solid;
        border-width: 1px;
        border-color: #504c6a;
        -webkit-border-radius: 2px;
        letter-spacing: 0;">
			<mat-icon style="color: #504c6a;">arrow_back</mat-icon> Back
		</button>
		<table class="table" *ngIf="agent_view && esc_report">
			<thead style="font-size: 11px; background: #504c6a; color: #fff; text-align: center; padding: 7px;">
				<tr>
					<td><b>Name</b></td>
					<td *ngFor="let column of esc_report?.displayColumns"><b>{{column.form_cat_name}} </b></td>
					<td><b>Overall QA Score</b></td>
					<td><b>#</b></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of agent_info">
					<td>{{item?.agent_names}}</td>
					<td *ngFor="let fcs of item?.form_categories_score" [style.color]="fcs?.color_code">{{fcs?.cat_score}} %</td>
					<td [style.color]="item?.form_colorCode">{{item?.form_score}} %</td>
					<td>
	          <span
	          	(click)="openResponseDialog(item?.agent_names, item?.eval_res_id);"
	            style="
	              width: auto;
		            height: 20px!important;
					      min-height: unset!important;
	              color: black;
	              background: transparent;
	              cursor: pointer; 
	              font-weight: 600;
	              display: inline-block;
	              margin-right: 2px;
	              font-size: 0.625rem;
	              text-transform: uppercase;
	              border-radius: 0.4em;
	              border-style: solid;
	              border-width: 1px;
	              border-color: #504c6a;
	              -webkit-border-radius: 2px;
	              letter-spacing: 0;">
	            View
	          </span>
					</td>
				</tr>
			</tbody>
		</table>
	</mat-card>

</div>
