<h2 *ngIf="activate" mat-dialog-title style="background: lightblue; padding: 1em; color: #000000"> Activate User </h2>
<mat-dialog-content *ngIf="activate" class="mat-typography">
	<h4>Are you sure you want to activate this account ?</h4>
	<span><b>User</b> : {{user.first_name }} {{user.last_name }}</span><br>
	<span><b>Username</b> : {{user.username }}</span><br>
	<span><b>Email</b> : {{user.email }}</span><br>
	<br>
	<br>
</mat-dialog-content>
<mat-dialog-actions *ngIf="activate" align="end" style="background: lightblue;">
  <button 
  	mat-raised-button 
  	(click)="userActiveToggle();"
  	style="margin-right: 1.2em; background: lightgreen;">
  	Activate
  </button>
  <button mat-raised-button mat-dialog-close style="margin-right: 1.2em;">Close</button>
</mat-dialog-actions>

<h2 *ngIf="deactivate" mat-dialog-title style="background: lightblue; padding: 1em; color: #000000">Deactivate User </h2>
<mat-dialog-content *ngIf="deactivate" class="mat-typography">
	<h4>Are you sure you want to deactivate this account ?</h4>
	<span><b>User</b> : {{user.first_name }} {{user.last_name }}</span><br>
	<span><b>Username</b> : {{user.username }}</span><br>
	<span><b>Email</b> : {{user.email }}</span><br>
	<br>
	<br>
</mat-dialog-content>
<mat-dialog-actions *ngIf="deactivate" align="end" style="background: lightblue;">
  <button 
  	mat-raised-button 
  	(click)="userActiveToggle();"
  	style="margin-right: 1.2em; background: #f54d38; color: #ffffff;">
  	Deactivate
  </button>
  <button mat-raised-button mat-dialog-close style="margin-right: 1.2em;">Close</button>
</mat-dialog-actions>
