<div class="row m-1">
  <div class="col-md-12">
    <p>
      <span routerLink="/qa/forms" style="color: #088ff5; cursor: pointer;"><u>Forms</u></span>
      /
      <span routerLink="/qa/new-category/{{form_cat?.f_id}}" style="color: #088ff5; cursor: pointer;"><u>{{form_cat?.f_name}}</u></span>
      /
      <span routerLink="/qa/category-questions/{{form_cat?.id}}" style="color: #088ff5; cursor: pointer;"><u>{{form_cat?.name}}</u></span>
    </p>
  </div>
  <div class="col-md-12">
    <mat-toolbar style="background-color: #ffffff; margin-bottom: 4px;">
      <h4>{{form_cat?.name}} Questions</h4>
      <span style="flex: 1 1 auto;"></span>
      <mat-chip-list>
        <mat-chip (click)="openCreateQuestionView()" style="background-color: lightblue;">
          <mat-icon>add</mat-icon> New Question
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>
  </div>

  <mat-card 
    class="col-md-12" 
    *ngIf="create_question" 
    style="background-color: #dcdcdc">
    <h6>Create New Question</h6>
    <form #createQuestionForm="ngForm" class="row">
      <mat-form-field class="col-md-12">
        <textarea
          required
          matInput
          matAutosizeMinRows="3"
          matAutosizeMaxRows="5"
          placeholder="Text" 
          [(ngModel)]="question.text" 
          name="text">
        </textarea>
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <textarea
          matInput
          matAutosizeMinRows="3"
          matAutosizeMaxRows="5"
          placeholder="Description" 
          [(ngModel)]="question.description" 
          name="description">
        </textarea>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input
          required
          matInput
          type="number"
          placeholder="Marks" 
          [(ngModel)]="question.marks" 
          name="marks">
      </mat-form-field>
      <div class="col-md-6">
        <label>Auto fail ?</label><br>
        <mat-radio-group
          required
          [(ngModel)]="question.auto_fail" 
          name="auto_fail">
          <mat-radio-button value="1">Yes</mat-radio-button>
          &nbsp;
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
    <div class="d-flex justify-content-center mt-1">
      <button
        [disabled]="createQuestionForm.invalid"
        mat-raised-button 
        (click)="createQuestion()"
        style="background-color: lightgreen;">
        Save
      </button>
      &nbsp;
      <button
        mat-raised-button 
        (click)="closeCreateQuestionView()">
        Cancel
      </button>
    </div>
  </mat-card>

  <div class="col-md-12">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let question of questions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{question.text}}
          </mat-panel-title>
        </mat-expansion-panel-header>
          <span><b>Description: </b>{{question.description}}</span><br>
          <span><b>Marks: </b>{{question.marks}}</span><br>
          <span>
          	<b>Auto Fail: </b>
						<span *ngIf="question?.auto_fail">Yes</span>
						<span *ngIf="!question?.auto_fail">No</span>
          </span>
          <br>
          <span class="float-right">
            <mat-icon
							title="Edit Question"
            	(click)="openEditQuestionDialog(question);" 
            	style="color: #000000; cursor: pointer;">
            	edit
            </mat-icon>
            &nbsp;
            <mat-icon
							title="Delete Question"
            	(click)="openDeleteQuestionDialog(question);" 
            	style="color: #ef6774; cursor: pointer;">
            	delete
            </mat-icon>
          </span>
          <br>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

	<div *ngIf="questions?.length == 0" class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
	  <strong>No Question(s) Found</strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</div>